$bg-color-white : #fff;
$color-font-red : red;
$margin-left-20 :20px;
$transition : 0.4s;
$display-block : block;
$width-100vw : 100vw;
$width-100 : 100%;
$margin-15px:15px;
$position-relative : relative;
$auto : auto;
$zero : 0px;
$none:none;
$value-500 : 500;
$value-2px : 2px;
$color-light-red:#9c095a;
$color-light-grey:grey;